.login-form{
    position: fixed;
    width: 300px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 20px;
    border-radius:5px;
    box-shadow:
     0px 2px 4px -1px rgba(0,0,0,0.2), 
    0px 4px 5px 0px rgba(0,0,0,0.14), 
    0px 1px 10px 1px rgba(0,0,0,0.1) inset;
}

.login-form-title{
   text-align: center;
   margin: 0;
   font-size: 24px;
}


.login-form-input{
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: #fff !important;
    outline: none;

}

.login-form-input:focus{
    border-bottom: 1px solid #6c96d8;
}

.login-form-btn{
    padding: 10px 15px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #6c96d8;
    outline:none;
    text-transform:uppercase;
    font-size: 18px;
    transition: all 0.3s ease;
}

.login-form-btn:hover{
    background: #6c96d8;
    color:#fff;
    cursor:pointer;
}

.login-form-error{
    margin: 0;
    color:#e01c18;
}
